* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

body { margin: 0; padding: 0; background: #C3C3C3; }

table { background: url('../images/bg-unten.jpg') repeat-x; }

img { border: 0; }

p { margin: 40px 0 0 0; font: bold 14px Arial, Tahoma, Arial; }

.platzhalter { height: 7px; }

a:link, a:visited, a:active { color: #fff; }
a:hover { text-decoration: none; color: #990000; }
