* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
body { margin: 0 40px 10px 0; background: #C3C3C3; }

/* allgemeine Textlinks */ 
a:link, a:visited, a:active { color: #336699; }
a:hover { text-decoration: none; color: #990000; }

/* ‹berschriften und Absatz */ 
h1, h2, p, li { font-family: Tahoma, Helvetica, Arial; }
h1 { margin: 0 15px 2px 0; font-size: 30px; color: #000; }
h2 { margin: 25px 15px 2px 0; font-size: 22px; color: #990000; }
p { margin: 2px 15px 10px 0; color: #333; font-size: 16px; text-align: justify; }
ul { margin: 2px 15px 10px 25px; }
li { margin: 0; color: #333; font-size: 16px; text-align: left; }


/* Fuﬂzeile */ 
.fusszeile { font: 12px 'Arial Black', Tahoma, Arial; text-align: justify; border-top: 2px solid #336699; padding-top: 10px; }
